<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>619672483662-b354u00m9itt1gl9lrrt7vo4ulb7k6jv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.619672483662-b354u00m9itt1gl9lrrt7vo4ulb7k6jv</string>
	<key>API_KEY</key>
	<string>AIzaSyBCSK9k59k6JY0oBvfLLCxSnfstK2U3N4M</string>
	<key>GCM_SENDER_ID</key>
	<string>619672483662</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterMvp</string>
	<key>PROJECT_ID</key>
	<string>flutter-mvp-179a5</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-mvp-179a5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:619672483662:ios:d9a112456eb65eb5eb901f</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-mvp-179a5.firebaseio.com</string>
</dict>
</plist>